section.relatively-aligned(layout="row")
  md-sidenav.md-sidenav-left.md-whiteframe-z2(
    flex-gt-sm=25
    flex=30
    md-is-locked-open="true"
  )
    md-toolbar: .md-toolbar-tools
      span: h3.md-subtitle Filters

    ha-expenditure-list-filters(on-submit="haEL.setFilters($filters)")

  div(flex layout="column")
    md-card(
      ha-expenditure-list
      on-select="haEM.openEditModal($expenditure)"
      flex
    )
      md-toolbar.md-table-toolbar.md-default(ng-hide="haEL.selected.length")
        .md-toolbar-tools(layout="row")
          // Later
          //md-icon(md-svg-icon="icons/ic_filter_list_black_24px.svg")
          //md-switch(ng-model="showFilters")
          span(flex) Expenditures

      md-toolbar.md-accent(ng-show="haEL.selected.length")
        .md-toolbar-tools(layout="row")
          span Expenditures
          span(flex)
          md-button.md-icon-button(ng-click="haEL.destroySelected()")
            md-icon(md-svg-icon="icons/ic_delete_black_24px.svg")

      md-table-container
        table(md-table md-row-select="" ng-model="haEL.selected" multiple="true")
          thead(md-head)
            tr(md-row)
              th(md-column) Desc
              th(md-column) Amount
              th(md-column) Date
              th(md-column) Tags

          tbody(md-body)
            tr(
              md-row
              ng-repeat="expenditure in haEL.expenditures track by expenditure.data.id"
              md-select="expenditure"
              ng-click="haEL.onSelect({ $expenditure: expenditure })"
            )
              td(md-cell ng-bind="expenditure.data.attributes.desc")
              td(md-cell ng-bind="expenditure.data.attributes.amount | currency")
              td(md-cell ng-bind="expenditure.data.attributes['expent-at']")
              td(md-cell)
                md-chips(
                  ng-model="expenditure.data.attributes['tag-names']"
                  readonly="true"
                )

    md-button.md-fab.fab-alignment(ng-click="haEM.openEditModal()")
      md-icon(md-svg-icon="/icons/ic_add_black_24px.svg")
